@model LGT_Project.Models.Transport
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Phương tiện</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên phương tiện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportName)
        </dd>

        <dt>
            Biển số xe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt>
            Nhà sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manafacturer)
        </dd>

        <dt>
            Khối lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            Bằng lái yêu cầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.License_Required)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Mẫu năm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportModel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Transport_ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Quay lại", "Index", "Transport", new { @class = "btn btn-success" })
</p>


