@{
    ViewBag.Title = "_LayoutDriver";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Người giao hàng</title>
    <!-- Favicon -->
    <link rel="icon" href="../Content/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="../Content/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="../Content/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="../Content/assets/css/argon.css?v=1.2.0" type="text/css">
</head>
<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  align-items-center">

                @*<a class="navbar-brand" href="@Url.Action("Index","Driver")">
                        <img src="../Content/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
                    </a>*@
                <a class="navbar-brand" rel="home" href="@Url.Action("Index","Driver")" title="Delivery Fast">
                    <img style="max-width:50px; margin-right: 10px; display:inline-block" src="/Fasticon-Shop-Cart-Shop-cart.ico">Delivery Fast
                </a>

            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index","Driver")">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Thống kê</span>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="icons.html">
                                    <i class="ni ni-planet text-orange"></i>
                                    <span class="nav-link-text">Icons</span>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Booking")">
                                <i class="ni ni-delivery-fast"></i>
                                <span class="nav-link-text">Đơn hàng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","GoogleMap")">
                                <i class="ni ni-pin-3 text-primary"></i>
                                <span class="nav-link-text">Google Map</span>
                            </a>
                        </li>


                        @*<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Driver_Login")">
                                    <i class="ni ni-key-25 text-info"></i>
                                    <span class="nav-link-text">Đăng nhập</span>
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html">
                                <i class="ni ni-single-02 text-yellow"></i>
                                <span class="nav-link-text">Tài khoản</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Driver_Login")">
                                <i class="ni ni-circle-08 text-pink"></i>
                                <span class="nav-link-text">Đăng xuất</span>
                            </a>
                        </li>

                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        @RenderBody()
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../Content/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../Content/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../Content/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../Content/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../Content/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="../Content/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../Content/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="../Content/assets/js/argon.js?v=1.2.0"></script>

</body>
</html>
