@model LGT_Project.Models.Order
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Taxes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Taxes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isCompleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isCompleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DIspatched)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIspatched)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DispatchedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DispatchedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Shipped)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Shipped)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deliver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deliver)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CancelOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CancelOrder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.First_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.First_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Payment.PaymentID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Payment.PaymentID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShippingDetail.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingDetail.FirstName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
